table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

table th {
    font-weight: bold;
    text-align: left;
}

table th, table td {
    padding: 2px 0.6rem;
}

table tr {
    border-bottom: 1px solid #eee;
}

table tr:first-child {
    border-bottom-color: #999;
    border-bottom-width: 2px;
}

table tr:last-child {
    border-bottom: none;
}

table tr:not(:first-child):hover {
    background-color: rgb(220, 239, 251);
}

table tr td:last-child {
    text-align: right;
}

table tr.group-row {
    background-color: rgb(226, 236, 242);
}

table:has(tr.group-row) tr:not(.group-row) td:first-child {
    padding-left: 1.2rem;
}

table button {
    white-space: nowrap;
}
