table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

table th {
    font-weight: bold;
    text-align: left;
}

table tr {
    border-bottom: 1px solid #eee;
}

table tr:first-child {
    border-bottom-color: #999;
    border-bottom-width: 2px;
}

table tr:last-child {
    border-bottom: none;
}
