.donut-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 200px;
    position: relative;
  }
  
  .donut-label {
    position: absolute;
    top: 70px;
    transition: top 0.125s ease-out, padding-top 0.125s ease-out;
  }
  
  .donut-label.has-highlight {
    top: 58px;
  }
  
  .donut-label > span {
    display: block;
    text-align: center;
  }
  
  .donut-label > .total-text {
    font-size: 0.6rem;
  }
  
  .donut-label > .total-value {
    font-size: 1.8rem;
    line-height: 100%;
    font-weight: bold;
    letter-spacing: -1px;
    padding-top: 0.3rem;
  }
  
  .donut-label.has-highlight > .total-value {
    padding-top: 0;
  }
  
  .donut-label > hr {
    margin: 0.2rem 0;
    border-style: none;
    border-top: 1px solid #ccc;
    width: 88px;
  }
  
  .donut-label > .hl-name {
    font-size: 0.6rem;
  }
  
  .donut-label > .hl-value {
    font-weight: bold;
    letter-spacing: -1px;
  }